@model PatrahSave.Models.Member
<form method="post" asp-action="DeletePost">
    <input asp-for="MemberId" hidden/>
    <div class="border p-3">
        <div class=" form-group row">
            <h1>
                Delete Member
            </h1 class = "text-black 50 pl-3">
        </div>
        <div class=" row">
            <div class=" col-12">
                <div class=" form-group row">
                    <div>
                        <label asp-for="MemberId">

                        </label>
                    </div>
                    <div class=" col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class=" col-4 row">
                        <label asp-for="YearOfBirth"></label>
                    </div>

                    <div class=" col-4 row">
                        <label asp-for="Age"></label>
                    </div>
                    <div class=" col-4 row">
                        <label asp-for="PlaceOfResidence"></label>
                    </div>

                </div>

                <div class=" col-4">
                    <input asp-for="MemberId" disabled class="form-control" />
                </div>
                <div class="col-4 ">
                    <input asp-for="Name"  disabled class"form-control" />

                </div>
                <div class=" col-4">
                    <input asp-for="YearOfBirth" disabled class="form-control" />

                </div>
                <div class=" col-4">
                    <input asp-for="Age"disabled class="form-control" />

                </div>
                <div class=" col-4">
                    <input asp-for="PlaceOfResidence" disabled class="form-control" />

                </div>
            </div>
            <div class=" form-group row">
                <div class=" col-8 offset-2 row">
                    <div class="col">
                       <input type ="submit" class="btn btn-danger w-75" value="DELETE" />
                    </div>
                    <div class="col">
                        <a  asp-action="index"> class="btn btn-success w-75" RETURN </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


