@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




@{
    ViewData["Title"] = "privacy policy";
}

<h1>@ViewData["Title"]</h1>
<h2 class="text-success">we offer trustworthy services</h2>
    